.file-explorer {
  background: var(--background-clr);
}

.wrapper {
  height: 100vh;
  max-width: 28rem;
  padding-top: 1.5rem;
  background: var(--background-clr);
  border-right: 0.1rem solid var(--border-clr);
  overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.tree {
  padding-left: 2rem;
}

details {
  width: 100%;
}

summary {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-left: 2rem;
  color: var(--text-clr);
  cursor: pointer;
  transition: 100ms all ease-in-out;
}

.file:hover,
summary:hover {
  transition: 0s;
  background-color: #00ffff3a;
}

summary::before {
  content: "";
  position: absolute;
  left: 1rem;
  height: 0.7rem;
  width: 0.7rem;
  border-top: 0.1rem solid var(--text-clr);
  border-right: 0.1rem solid var(--text-clr);
  transform: rotate(45deg);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 500ms;
  cursor: pointer;
}

details[open] > summary::before {
  transform: rotate(135deg);
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-clr);
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.file > div {
  white-space: nowrap;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  opacity: 0;
  color: var(--clr);
  font-size: 1.6rem;
  transition: all 200ms ease-in;
}

.file:hover .button,
summary:hover .button {
  opacity: 1;
}

summary::marker {
  display: none;
}